table{
     margin: 20px auto; 
    width: 80%;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}

td{
    width: 200px;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}


